.Weather .current-temp {
  font-size: 60px;
}

.Weather .forecast-temperature {
  font-size: 20px;
  text-align: center;
}

.Weather .overview {
  margin-bottom: 20px;
}

.Weather .weather-temperature .units {
  font-size: 20px;
  position: relative;
  top: -28px;
}

.Weather {
  background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
  border: none;
  border-radius: 12px;
  box-shadow: 5px 5px 10px rgb(165, 137, 141);
  padding: 23px;
}

.Weather .weather-temperature img {
  margin-right: 10px;
  height: 100px;
  width: 100px;
  position: relative;
  top: -10px;
}

.Weather .weather-temperature .active {
  color: black;
  cursor: default;
}

.Weather .weather-forecast {
  margin-top: 50px;
}

.Weather .weather-forecast h3 {
  font-size: 15px;
  text-align: center;
}
